@using EPiServer.Web.Mvc.Html
@using Microsoft.AspNetCore.Razor.Language.Intermediate
@model Cms.Models.Pages.StartPage
@{
    Layout = "_Layout";
    ViewBag.Title = "Start page - MyFlix";
}

<div class="container-fluid bg-black text-white p-5">
    <div class="text-center">
        <h1 class="display-2">@Html.PropertyFor(x => @Model.Title)</h1>
        <h6 class="display-6">@Html.PropertyFor(x => @Model.Subtitle)</h6>
        <div class="input-group p-4 justify-content-md-center ">
            @using (Html.BeginForm("SearchMovie","StartPage",FormMethod.Post, new{style = "display: inline-block"}))
            {
                <input class="rounded m-1" style="width: 500px" type="text" name="query"/>
                <input class="m-1 btn btn-outline-light bg-black text-light" type="submit" value="Search"/>
            }
        </div>
        <img @Html.EditAttributes(x => x.HeroImage) src="@Url.ContentUrl(@Model.HeroImage)" width="1000" alt="" class="mt-3"/>
    </div>
</div>
<div class="container-fluid bg-light text-dark p-5">
    <div class="row justify-content-md-center">
        <div class="col col-md-4">
            <h2>@Html.PropertyFor(x => @Model.CrossPlatformFeatureTitle)</h2>
            <h3 class="lead">@Html.PropertyFor(x => @Model.CrossPlatformFeatureDescription)</h3>
        </div>
        <div class="col col-md-3">
            <img @Html.EditAttributes(x => x.CrossPlatformFeatureImage) src="@Url.ContentUrl(@Model.CrossPlatformFeatureImage)" width="500" alt=""/>
        </div>
    </div>
</div>